body {
  background-color: #eeeeff;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  width: calc(100% - 60px);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form #filtering {
  width: 100%;
}

#sorting {
  width: 100%;
}

form td {
  text-align: right;
}

form table {
  width: 100%;
}

.VehicleModelList {
  display: block;
  width: calc(100% - 8px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #ffeeee;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
.VehicleListElement {
  color: black;
  text-decoration: none;
  display: grid;
  margin: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 300px;
  border-radius: 10%;
  background-color: white;
  grid-template-areas:
    "img img id id id id"
    "img img name name name name"
    "img img name name name name"
    "img img abbreviation abbreviation abbreviation abbreviation";
}

.VehicleListElement:hover {
  background-color: lightGray;
}

.VehicleListElement img {
  display: block;
  grid-area: img;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 8px;
  max-width: 80%;
  max-height: 80%;
}

.BigVehicleID {
  /*In case image is not provided.*/
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: img;
  font-weight: bold;
  float: left;
}

.VehicleID {
  float: right;
  width: 100%;
  margin: 4px;
  text-align: left;
  display: block;
  grid-area: id;
  color: #555555;
}

.VehicleName {
  float: right;
  width: 100%;
  margin: 4px;
  text-align: left;
  display: block;
  grid-area: name;
  font-size: 2em;
}

.VehicleAbbreviation {
  float: right;
  width: 100%;
  margin: 4px;
  text-align: left;
  display: block;
  grid-area: abbreviation;
  color: #333333;
}
